ibexa:
    repositories:
        default:
            storage:
                engine: legacy
                connection: default
            search:
                engine: solr
                connection: default

    siteaccess:
        default_siteaccess: global-en

        list:
            - admin
            - global-en
            - my-en
            - th-en
            - th-th

        groups:
            admin_group:
                - admin
            site_group:
                - global-en
                - my-en
                - th-en
                - th-th
            global_group:
                - global-en
            malaysia_group:
                - my-en
            thailand_group:
                - th-en
                - th-th

        match:
            URIElement:
                map:
                    admin: admin
                    global-en: global-en
                    my-en: my-en
                    th-en: th-en
                    th-th: th-th

    system:
        default:
            design: standard
            content:
                tree_root:
                    location_id: 2

        admin:
            design: admin
            languages:
                - eng-GB
            content:
                tree_root:
                    location_id: 2

        global-en:
            design: standard
            languages:
                - eng-GB
            content:
                tree_root:
                    location_id: 2

        my-en:
            design: standard
            languages:
                - eng-MY
                - eng-GB
            content:
                tree_root:
                    location_id: 2

        th-en:
            design: standard
            languages:
                - eng-TH
                - eng-GB
            content:
                tree_root:
                    location_id: 2

        th-th:
            design: standard
            languages:
                - tha-TH
                - eng-TH
                - eng-GB
            content:
                tree_root:
                    location_id: 2
