{% extends "@standard/pagelayout.html.twig" %}

{% block title %}{{ slug }}{% endblock %}

{% block content %}
    <h1>News Article: {{ slug }}</h1>
    <p>This is a placeholder for the news article with slug: <strong>{{ slug }}</strong></p>
{% endblock %}
