services:
  solr:
    container_name: ddev-${DDEV_SITENAME}-solr
    image: solr:8.11
    restart: "no"
    ports:
      - "8983"
    labels:
      com.ddev.site-name: ${DDEV_SITENAME}
      com.ddev.approot: $DDEV_APPROOT
    environment:
      - SOLR_HEAP=512m
    volumes:
      - solr-data:/var/solr
      - .:/mnt/ddev_config
    command: solr-precreate collection1
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8983/solr/collection1/admin/ping || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  solr-data:
